.App{
  height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  margin-left: 20%;
  margin-top: 60px;
  width: 80%;
  height: 100%;
  box-sizing: border-box;
}

.task-section{
  width: 100%;
}

.alert {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1000;
}

.horizontal-sidebar{
  display: none;
}

@media screen and (max-width: 900px){
  main{
    margin-left: 0;
    width: 100%;
    transition: 1s;
  }
  .vertical-sidebar{
    /* display: none; */
    width: 0;
    height: 0;
    overflow: hidden;
    transition: 2s;
  }
  .horizontal-sidebar{
    display: flex;
    transition: 1s;
    margin: 0px 25px 0px 25px
  }
}