.scroll-box{
  width: 100vw;
  height: 200px;
}

.create-task{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  height: 60px;
  border: 1px solid  rgb(215, 215, 215);
  margin: 20px 20px 50px 20px;
}

.create-task .input{
  display: flex;
  justify-content: flex-start;
  height: 35px;
  margin: 5px;
  border: 1px solid transparent;
}
.create-task .input:hover{
  border-color: rgb(215, 215, 215);
}
.create-task .input:focus{
  outline: none;
  border-color: #333;
}

.create-task .group{
  display: flex;
  justify-content: center;
  margin: 5px;
  cursor: pointer;
}

.create-task .group img{
  margin-right: 5px;
}

.create-task .group p{
  color: #03a9f4;
}

.create-task .time{
  display: flex;
  align-items: center;
}

.create-task .time input{
  height: 35px;
  margin: 5px;
  width: 90px;
  border: none;
  cursor: text;
  font-family: 'Times New Roman', Times, serif;
}

.create-task button {
  background-color: #03a9f4;
  color: white;
  height: 40px;
  width: 100px;
  margin: 5px;
  border: none;
}
.create-task button:hover{
  background-color:#0192d6;
  cursor: pointer;
}

.date{
  height: 35px;
  border: none;
  cursor: text;
  font-family: 'Times New Roman', Times, serif;
}

.options{
  margin: 0px 10px 0px 10px;
  display: flex;
  justify-content: center;
}

.line-divider{
  width: 1px;
  height: 40px;
  border-right: 1px dotted rgb(215, 215, 215);
}

.dropdown {
  position: relative;
  display: inline-block;
}

#create-dropdown-input {
  box-sizing: border-box;
  /* background-image: url('searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat; */
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid  rgb(215, 215, 215);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 230px;
  overflow: auto;
  border: 1px solid  rgb(215, 215, 215);
  z-index: 1;
  height: 170px;
}

.dropdown-content p {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  margin: 0px;
  cursor: pointer;
}
.dropdown-content p:hover {
  background-color: #e4eaee;
}

.show {display: block;}
