.created-task{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 60px;
  border: 1px solid  rgb(215, 215, 215);
  margin: 0px 20px 0px 20px;
}

.created-task .input{
  height: 35px;
  margin: 5px;
  border: 1px solid transparent;
}
.created-task .input:hover{
  border-color: rgb(215, 215, 215);
}
.created-task .input:focus{
  outline: none;
  border-color: #333;
}

.created-task .group{
  display: flex;
  margin: 5px;
  cursor: pointer;
}

.created-task .group img{
  margin-right: 5px;
}

.created-task .group p{
  color: #03a9f4;
}

.created-task .time{
  display: flex;
  align-items: center;
}

.created-task .time input{
  height: 35px;
  margin: 5px;
  width: 90px;
  border: none;
  cursor: text;
  font-family: 'Times New Roman', Times, serif;
}

.created-task button {
  background-color: #03a9f4;
  color: white;
  height: 40px;
  width: 100px;
  margin: 5px;
  border: none;
}
.created-task button:hover{
  background-color:#0192d6;
  cursor: pointer;
}

.date{
  height: 35px;
  border: none;
  cursor: text;
  font-family: 'Times New Roman', Times, serif;
}

.line-divider{
  width: 1px;
  height: 40px;
  border-right: 1px dotted rgb(215, 215, 215);
}

/* options dropdown */
.menu-nav {
  display: flex;
  justify-content: space-between;
}
      
.menu-item {
  padding: 3px;
}
      
.three-dots:after {
  cursor: pointer;
  color: #444;
  content: '\2807';
  font-size: 20px;
  padding: 0 5px;
}
      
a {
  text-decoration: none;
  color: black;
}
      
a div {
  padding: 2px;
}
      
.dropdown {
  position: absolute;
  right: 10px;
  background-color: white;
        
  outline: none;
  opacity: 0;
  z-index: -1;
  max-height: 0;
  transition: opacity 0.1s, z-index 0.1s, max-height 5s;
}
      
.dropdown-container:focus {
  outline: none;
}
      
.dropdown-container:focus .dropdown {
  opacity: 1;
  z-index: 100;
  max-height: 100vh;
  transition: opacity 0.2s, z-index 0.2s, max-height 0.2s;
}

/* options dropdown end */