nav {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 5px 5px;
  border-bottom: 1px solid  rgb(215, 215, 215);
  background-color: white;
  position: fixed;
  top: 0px;
  z-index: 2;
  box-shadow: 222px 5px 5px -3px rgb(200, 200, 200);
}

nav img {
  width: 48px; 
  height: 48px; 
  /* margin: 0 16px 0 0; */
  cursor: pointer;
}

nav .nav-title {
  color: black;
  font-weight: bold;
  flex: 1 1 100px;
  min-width: 320px;
}

nav .nav-title-url {
  font-size: 24px; 
  line-height: 24px;
  margin: 0px; /* need to find where the 8px is coming from */
}

nav .user-info {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .user-info p {
  margin: 0px 5px 0px 5px;
}
nav .user-info-link{
  margin: 0px 20px 0px 5px;
}

nav .nav-button {
  width: 80px;
  height: 40px;
  margin: auto 10px;
  text-align: center;
  white-space: nowrap;
  border: 1px solid black;
}

nav button {
  font-size: 1em;
  font-weight: 512;
  font-family: Helvetica, sans-serif;
  background-color: #f5f5f5;
  margin: 0px 0px 8px 0px;
  padding: 8px;
  box-shadow: 2px 2px 4px 0px rgba(41, 41, 41, 0.9);
  border: 2px solid lightgrey;
  border-radius: 8px;
  cursor: pointer;
  transition: border-color 0.16s;
}
nav button:hover {
  border-color: black;
  transform: scale(1.04);
}

@media screen and (max-width: 900px){
  nav{
    box-shadow: 0px 5px 5px -3px rgb(200, 200, 200);
    transition: 1s;
  }
}