.grouped-tasks-container{
  box-shadow: 0px 5px 5px -3px rgb(200, 200, 200);
  margin: 20px 20px 0px 20px;
}


.task-header{
  display: flex;
  justify-content: space-between;
  background: linear-gradient(#e4eaee,#dde4e8);
  border: 1px solid #C6D2D9;
}

.task-header .left{
  margin-left: 5px;
  margin-top: 10px;
  text-align: left;
  flex-grow: 1;
}

.task-header .right{
  display: flex;
  margin-top: 10px;
}

.task-header .right img{
  margin: 10px;
}

@media screen and (max-width: 550px){
  .grouped-tasks-container{
    transition: 1s;
    margin: 20px 0px 0px 0px;
  }
}